/* HTML5 Backup Support */
header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

@font-face {
    font-family: 'Garamond-Reg';
    src: url("../font/garamond-reg.tff") format("truetype");
}

html {
	background: #012F5A url(../img/blue-bg.jpg) 50% 0 repeat-y;
}

body {
	background: url(../img/blue-bg-shine.jpg) 50% 0 no-repeat transparent;
	font-family: 'Garamond-Reg';
	-webkit-font-smoothing: antialiased;
	margin: 0 auto;

	* {	
		margin: 0;
	    padding: 0;
	    border: 0;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	    box-sizing: border-box;
	}
}

$white: #fff;
$lightgrey: #e9e9e9;
$grey: #a3a3a3;
$darkgrey: #5d5c5c;
$lightblue: #2c83b0;
$black: #111213;

.p-bot-10 {
	padding-bottom: 10px;
}

.p-bot-20 {
	padding-bottom: 10px;
}

.p-bot-30 {
	padding-bottom: 10px;
}

.hide-me {
	opacity: 0;
}

a {
	color: $lightblue;

	&:hover {
		text-decoration: none;
	}
}

ul {
	list-style: none;
}

input {

	&:focus {
		outline: none;
	}
}

.clearfix {
	zoom: 1;

	&:before, &:after {
		content: ".";    
	    display: block;    
	    height: 0;    
	    overflow: hidden; 
	}

	&:after {
		clear: both;
	}
}

/* --------- */

.container {
	padding: 0;
	
}

.mobile-activator {
    position: absolute;
    top: 42px;
    right: 30px;
    z-index: 1000;
    cursor: pointer;

    .bar {
    	display: block;
	    width: 26px;
	    height: 3.1px;
	    background: #fff;
	    margin-bottom: 5px;
	    border-radius: 1px;
    }
}

header {
	position: relative;
	background: $black; 
    background: -webkit-linear-gradient(left, $black, #292a2b); 
    background: -o-linear-gradient(left, $black, #292a2b); 
    background: -moz-linear-gradient(left, $black, #292a2b);
    background: linear-gradient(left, $black, #292a2b);

    #logo {
		display: inline-block;
		float: left;
		padding: 30px;
		width: 340px;

		img {
			max-width: 100%;
		}
	}

	nav {
		position: absolute;
		left: 0;
		right: 0;
		top: 101px;
		border-top: 1px solid #1c1d1e;
		background-color: #1d1e1f;
		z-index: 100;
		display: none;
		
		ul {

			li {
				padding: 10px 0;
				text-align: center;

				a {
					color: $white;
					text-transform: uppercase;
					font-size: 1.25rem;
					-webkit-transition: color 0.2s ease-out;
				  	-moz-transition: color 0.2s ease-out;
				  	-o-transition: color 0.2s ease-out;
				  	transition: color 0.2s ease-out;

					&:hover {
						color: $grey;
					}
				}
			}
		}
	}

	.search-form {
		position: absolute;
		right: 30px;
		top: 20px;
		display: none;

		img {
			position: absolute;
		    left: 5px;
		    top: 3px;
		}

		input {
			font-size: 1.22rem;
			line-height: 1.22rem;
			border: none;
			border-radius: 10px;
			padding: 4px 3px 4px 30px;
		}
	}
}

section#slider {
	overflow: hidden;
    margin: 0 auto; 
    position: relative; 
    width: 100%; 
    height: 360px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 

    .slide { 
	    position: absolute; 
	    top: 0; 
	    left: 0; 
	    right: 0; 
	    bottom: 0;
	    opacity: 0;
	    -webkit-transition: opacity 1s ease-out;
	    -moz-transition: opacity 1s ease-out;
	    -o-transition: opacity 1s ease-out;
	    transition: opacity 1s ease-out;

	    -webkit-transform: translateX(-20%);
		-moz-transform: translateX(-20%);
		-o-transform: translateX(-20%);
	    transform: translateX(-20%);

	    &.slide-active {
	    	opacity: 1;
	    }
	}

	.navigation {
		-webkit-transition: opacity 0.4s ease-out;
	    -moz-transition: opacity 0.4s ease-out;
	    -o-transition: opacity 0.4s ease-out;
	    transition: opacity 0.4s ease-out;
		opacity: 0;

		.navigation-elem {
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
	    	-moz-transform: translateY(-50%);
	    	-o-transform: translateY(-50%);
			transform: translateY(-50%);
	
			color: #fff;
			font-size: 2.1rem;
			
			cursor: pointer;
			text-shadow: 2px 2px 2px #222;

			img {
				opacity: 0.85;
			}
		}

		.previous {
			left: 20px;
		}

		.next {
			right: 20px;
		}
	}

	&:hover {

		.navigation {
			opacity: 1;
		}
	}
}

section#quotes-social {
	background-color: $black;
	
	h2 {
		color: $grey;
		margin: 30px;
		font-size: 2.1rem;
    	text-align: center;
	}
}

ul.social-media {
	padding: 0 0 20px 0;
	text-align: center;

	li {
		display: inline-block;
		width: 50px;
		height: 51px;
		background: url('../img/icons.png') no-repeat;

		&.twitter {
			background-position: 0 0;
		}

		&.facebook {
			background-position: -53px 0;
		}

		&.rss {
			background-position: -107px 0;
		}

		&.fire {
			background-position: -162px 0;
		}

		&.email {
			background-position: -216px 0;
		}

		a {
			width: 50px;
			height: 51px;
			float: left;
		}
	}
}

section#news {

	article {
		z-index: 10;
		margin: 0 30px;
		padding: 30px 0;
		border-bottom: 1px solid $lightgrey;

		div {
			display: inline-block;

			&.image {
				width: 25%;
				float: left;
				overflow: hidden;
				border: 5px solid $lightgrey;

				img {
					-webkit-transform: translateX(-23%);
				  	-moz-transform: translateX(-23%);
				  	-o-transform: translateX(-23%);
					transform: translateX(-23%);
				}
			}

			&.information {
				width: 75%;
				padding-left: 30px;

				h3 {
					font-size: 2.1rem;
				}

				.date {
					font-size: 1.1rem;
					color: $lightblue;
					padding-top: 3px;
				}

				.breadcrumbs {
					max-height: 63px;
    				overflow: hidden;
					margin: 10px 0 15px 0;
				}

				button {
					background: #5aa7ce;
				  	background-image: -webkit-linear-gradient(top, #5aa7ce, #4a87a7);
				  	background-image: -moz-linear-gradient(top, #5aa7ce, #4a87a7);
				  	background-image: -ms-linear-gradient(top, #5aa7ce, #4a87a7);
				  	background-image: -o-linear-gradient(top, #5aa7ce, #4a87a7);
				  	background-image: linear-gradient(to bottom, #5aa7ce, #4a87a7);
				  	-webkit-border-radius: 2px;
				  	-moz-border-radius: 2px;
				  	border-radius: 2px;
				  	-webkit-box-shadow: 0px 1px 1px #272727;
				  	-moz-box-shadow: 0px 1px 1px #272727;
				  	box-shadow: 0px 1px 1px #272727;

				    border: none;
				    padding: 4px;
				    width: 145px;
				    color: #fff;
				    font-size: 1.35rem;
				    text-shadow: 0 1px 4px #2d5d75;


				    &:hover {
				    	background: #6ab9e0;
					  	background-image: -webkit-linear-gradient(top, #6ab9e0, #4e8fb1);
					  	background-image: -moz-linear-gradient(top, #6ab9e0, #4e8fb1);
					  	background-image: -ms-linear-gradient(top, #6ab9e0, #4e8fb1);
					  	background-image: -o-linear-gradient(top, #6ab9e0, #4e8fb1);
					  	background-image: linear-gradient(to bottom, #6ab9e0, #4e8fb1);
				    }

				    &:focus {
				    	outline: none;
				    }
				}
			}
		}
	}

	.pagination {
		z-index: 100;
		margin-left: 30px;

		div {
			display: inline-block;
			background-color: $lightgrey;
			color: #808080;
			text-align: center;
			font-size: 1.1rem;
			line-height: 20px;
			min-width: 20px;
    		height: 20px;

    		&:first-child {
    			padding: 0 9px;
    			margin-right: 1px;
    		}

    		&.next-icon {
    			cursor: pointer;
    		}
		}

		ul {
			display: inline-block;
			transform: -webkit-translateY(-1px);
			transform: -moz-translateY(-1px);
			transform: -o-translateY(-1px);
			transform: translateY(-1px);

			li {
				display: inline-block;
				background-color: $lightgrey;
				color: #808080;
				width: 20px;
    			height: 20px;
    			line-height: 20px;
    			text-align: center;
    			font-size: 1.1rem;
    			cursor: pointer;
    			margin-right: 1px;
   

				&.active {
					background-color: $grey;
					color: #fff;
				}
			}
		}
	}

	aside.sidebar {
		padding: 30px;

		h3 {
			padding-bottom: 20px;
		}
	}
}

section#sponsors {
	margin: 30px;
	overflow: hidden;

	h3 {
		padding-bottom: 25px;
	}
}

.sponsor-grid {

	.grid-item {
		width: calc(94% / 2);
		height: 90px;
		margin-right: 1%;
		margin-bottom: 1%;
		border: 4px solid $lightgrey;
		display: inline-block;
		float: left;
		position: relative;
		text-align: center;
		-webkit-transition : border 0.4s ease-out;
	  	-moz-transition : border 0.4s ease-out;
	  	-o-transition : border 0.4s ease-out;
	  	transition : border 0.4s ease-out;

		&:hover {
			border-color: $grey;
		}

		a {
			height: 100%;
		    width: 100%;
		    float: left;
		}

		img {
			position: absolute;
		    top: 50%;
		    left: 50%;
		    -webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
	}
}

footer {

	.row {
		padding: 0 15px;
	}

	.black-bg {
		padding: 30px 15px 15px 15px;
		background-color: $black;
	}

	h3 {
		color: $white;
		padding-bottom: 15px;
	}

	p {
		color: $darkgrey;
		padding-bottom: 20px;

		&.highlighted {
			color: $grey;
		}
	}

	.contact-info {
		color: $darkgrey;
	}

	.social-media {
		padding-top: 30px;
		text-align: left;
	}

	.flickr-stream {
		overflow: hidden;
		float: left;

		.flickr-item {
			width: 75px;
			height: 75px;
			margin-right: 4%;
			margin-bottom: 5%;
			display: inline-block;
			float: left;

			img {
			}
		}
	}
}

/* MEDIA QUERIES */

@media (min-width: 520px) {
	header nav {
		top: 117px;
	}

	header #logo {
		width: auto;
	}

	.mobile-activator {
		top: 50px;
	}

	section#quotes-social h2 {
		font-size: 2.5rem;
		margin: 40px 30px;
	}
}

@media (min-width: 540px) {
	.sponsor-grid .grid-item {
		width: calc(94% / 3);
	}
}

@media (min-width: 675px) {
	.sponsor-grid .grid-item {
		width: calc(94% / 4);
	}

	section#news article div.information h3 {
		font-size: 2.4rem;
	}

	section#news article div.information .breadcrumbs {
		max-height: 85px;
	}

	section#quotes-social h2 {
		font-size: 3rem;
	}

	header .search-form {
		display: inline-block;
	}

	.mobile-activator {
		top: 64px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 991px;
		padding: 0 15px;
		margin: 0 auto;
	}

	footer {
		background: url(../img/blue-bg-footer.jpg) 50% 100% no-repeat transparent;
		padding-bottom: 100px;
	}

	.mobile-activator {
		display: none;
	}

	header nav {
		background: transparent;
		position: absolute;
		left: initial;
		top: initial;
		right: 30px;
		bottom: 30px;
		display: inline-block;
		border: none;

		ul li {
			display: inline-block;
			padding: 0 0 0 14px;
			text-align: left;

			&:first-child {
				padding: 0;
			}
		}
	}

	.sponsor-grid .grid-item {
		width: calc(94% / 6);
	}

	#news aside.sidebar {
		padding: 30px 10px 0 20px;
		background: #e7e7e7;
	    background: -webkit-linear-gradient(top, #e7e7e7, #fff);
	    background: -o-linear-gradient(top, #e7e7e7, #fff);
	    background: -moz-linear-gradient(top, #e7e7e7, #fff);
	    background: linear-gradient(to bottom, #e7e7e7, #fff);
	    margin-right: 1px;

		h3 {

			&:not(.nbc-shop) {
				padding-top: 35px;
			}
		}
	}

	ul.social-media {
		padding: 46px 0 0 0;
	}

	section#slider > .slide { 
	    -webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-o-transform: translateX(0);
	    transform: translateX(0);
	}

	section#quotes-social h2 {
		text-align: left;
	}
}

@media (min-width: 1200px) {
	.container {
	    width: 991px;
	}
}
